.back{
    width: 100%;
 background-image: url('https://img.freepik.com/free-photo/weathered-blue-page_53876-88602.jpg?size=626&ext=jpg&uid=R136820087&ga=GA1.1.1961238112.1707119554&semt=ais');
   height: 90vh;
   background-repeat: no-repeat;
   background-size: cover;
}
.img_home{
     border-radius: 20px;
     margin-top: 50px;
}

.title_home{
      margin-top: 130px;
      /* margin-bottom: 500px; */
}